# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# DuckDB
*.duckdb
*.duckdb.wal

# dbt
transform/dbt_pipeline/target/
transform/dbt_pipeline/dbt_packages/
transform/dbt_pipeline/logs/

# Evidence.dev
dashboard/node_modules/
dashboard/.evidence/
dashboard/.svelte-kit/
dashboard/build/
dashboard/static/data/
dashboard/**/*.options.yaml
dashboard/.vscode/settings.json

# Env
.env

# OS
.DS_Store
Thumbs.db
